<section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 style="color:white" class="mt-5">Coaching</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="assets/goal2.jpg" alt="" style="border-radius: 15px" class="img-fluid">

      </div>
      <div class="col-md-6">
        <p>
          Ik zie de mens als geheel. Meer dan alleen lichaam en verstand (geest). Met ook een on(be)grijpbaar deel, de ziel, wat nog steeds wordt onderschat in deze huidige tijd, maar gelukkig steeds meer aandacht krijgt. Alles werkt met elkaar samen.<br><br>
          Coaching is een heel breed begrip tegenwoordig. En voor iedereen zal dit anders zijn. Met een holistische benadering. <br><br>
          Ik nodig je uit om uit je hoofd en meer in je lijf te komen. Wat voel je? Wat gaat er door je heen? Jij vertelt en ik luister.<br><br>
          Coaching kan ook gecombineerd worden met yoga.<br><br>
          Wil je meer inzicht opdoen in bepaalde situaties?<br>
          Neem dan gerust <a [routerLink]="['/contact']">contact met mij op</a>.
        </p>
      </div>
    </div>
  </div>
</section>







<section class="bg-prim3 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Meer weten?</h1>
        <p style="color:black !important">Voor meer informatie en mogelijkheden, neem contact met mij op via het
          contactformulier.</p>
        <div>
          <button type="button" [routerLink]="['/contact']" class="btn btn-info">Naar contact</button>
        </div>
      </div>
    </div>
  </div>
</section>
