<section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 style="color:white" class="mt-5">Coaching</h1>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="assets/goal.jpg" alt="" style="border-radius: 15px" class="img-fluid">

      </div>
      <div class="col-md-6">
        <p>
          Coaching is een heel breed begrip tegenwoordig. En voor iedereen zal dit anders zijn. Ik nodig je uit om uit je hoofd en meer in je lijf te komen. Wat voel je in je lichaam? En waar? Komt er een gedachte op of meer een gevoel, of misschien wel een emotie? Vanuit daar gaan we verder.<br><br>
          Ik zie de mens als geheel (holistisch). Dus meer dan alleen lichaam en verstand (geest), met ook een on(be)grijpbaar deel, de ziel, wat nog steeds wordt onderschat in deze huidige tijd, maar gelukkig steeds meer aandacht krijgt. Intuïtief, op gevoel en in de energie van het moment gaan we in gesprek.<br><br>
          Coaching kan ook gecombineerd worden met yoga.<br> Wil je meer inzicht opdoen in bepaalde situaties?<br> Neem dan gerust <a [routerLink]="['/contact']">contact met mij op</a>.
        </p>
      </div>
    </div>
  </div>
</section>







<section class="bg-prim3 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Meer weten?</h1>
        <p style="color:black !important">Voor meer informatie en mogelijkheden, neem contact met mij op via het
          contactformulier.</p>
        <div>
          <button type="button" [routerLink]="['/contact']" class="btn btn-info">Naar contact</button>
        </div>
      </div>
    </div>
  </div>
</section>
