<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>Bedrijfsyoga</h2>
        <p>Bedrijfsyoga is een mooie mogelijkheid om medewerkers kennis te laten maken met de voordelen van yoga. Door de vaak zittende beroepen en het gebruik van smartphones e.d. zijn er steeds meer mensen met rug-, nek- en schouderklachten. Yoga verbetert de lichaamshouding en zorgt voor meer vitaliteit. 
          <br><br>
          En niet alleen voor mensen met fysieke klachten biedt yoga vele mogelijkheden. Ook voor mensen met burn-out klachten of juist preventief. Yoga is een moment van ontspanning. Het vermindert de vermoeidheid en geeft weer energie. </p>
      </div>
      <div class="col-md-6">
      <img src="assets/bedrijfsyoga.jpg" alt="" class="img-fluid">
    </div>
    </div>
  </div>
</section>

<section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Meer weten?</h1>
        <p style="color:white !important">Voor meer informatie en mogelijkheden, neem contact met mij op via het contactformulier.</p>
        <div>
                <button type="button" [routerLink]="['/contact']" class="btn btn-info btn-lg">Naar contact</button>
              </div>
      </div>
    </div>
  </div><br><br><br>
</section>