<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>Bedrijfsyoga</h2>
        <p>Bedrijfsyoga is een mooie mogelijkheid om medewerkers kennis te laten maken met de voordelen van yoga. Yoga zorgt voor een betere vitaliteit. Het verminderd vermoeidheid en geeft energie en verbetert je lichaamshouding en vermindert rug-, nek-, en schouderklachten. Yoga brengt balans tussen lichaam en geest. 
          <br><br>
          Door de vaak zittende beroepen en het gebruik van smartphones e.d. zijn er steeds meer mensen met rug- en nekklachten. En niet alleen voor mensen met fysieke klachten, ook mensen met burn-out klachten of juist preventief in onze drukke, hollende en presterende maatschappij biedt yoga vele mogelijkheden. </p>
      </div>
      <div class="col-md-6">
      <img src="https://via.placeholder.com/1200x1000" alt="" class="img-fluid">
    </div>
    </div>
  </div>
</section>