<section class="bg-prim text-black py-5">
  <div class="container">
    <div class="d-flex row align-items-center">
      <div class="col-md-6 order-md-2 offset-md-1" >
        <h1 style="color:#d291bc">Over Sandra <img src="assets/ryt.png" alt="" class="img-fluid" style="border-radius: 30px;"></h1>
        <br>
        <div>
          <p style="color:black !important">
            Wat begon als een hobby naast een kantoorbaan, ben ik mij uiteindelijk volledig gaan richten op yoga. <br> <br>
            Het lesgeven in Zumba en Body Balance op de sportschool was het begin. Ik deed iets wat ik echt leuk vond, waar ik blij van werd. Ik ben altijd al geïnteresseerd geweest in de Oosterse filosofie en wilde graag meer weten over de werking van ons lichaam. In 2017 ben ik begonnen met een Power yoga opleiding. Al snel daarna volgde ik nog meer yoga opleidingen. Naast diverse yoga opleidingen heb ik ook diverse opleidingen en cursussen gevolgd op het gebied van coaching en energiewerk. Ik ben aangesloten bij de Yoga Alliance als RYT500.<br> <br>
            Tegenwoordig verlangen we vaak te veel van onszelf en van anderen. Hier ben ik zelf in het verleden ook tegen aangelopen. Uit verbinding met jezelf, om maar aan overtuigingen en verwachtingen van buiten (anderen) te voldoen. En misschien ook wel aan een overtuiging en verwachting die je jezelf hebt opgelegd. Waarom?<br> <br>
            Leven in het hier en nu, in verbinding met je lijf, je gevoel en je hart, wat je o.a. kunt doen met yoga, helpt daar bij. Door yoga ben ik veel sterker (fysiek en mentaal) en soepeler geworden. In het moment laten zijn wat is met alle gemakken, maar ook ongemakken. Meer loslaten en vertrouwen hebben in jezelf en anderen. Mijn uitnodiging is; ga luisteren naar je lichaam en je gevoel en ga daar op vertrouwen. Ons lichaam geeft heel goed aan waar we juist behoefte aan hebben (beweging, rust, voeding etc) of juist waar we minder van nodig hebben (doorgaan, perfectionisme, stress). <br> <br>
            Respect, aandacht en vertrouwen vind ik erg belangrijk en dit mag je van mij verwachten. Je mag zijn wie je bent en je bent goed zoals je bent. Intuïtief en op eigen-wijze, geef ik yoga en holistische coaching. Niet zweverig en met een nuchtere kijk.
            Ben je ook benieuwd naar yoga en/of een coaching sessie? Neem contact met mij op via het contactformulier.

          <p><br><a [routerLink]="['/contact']" class="btn btn-primary">Neem contact op!</a></p>
        </div>
        
      </div>
      <div class="col-md-5">
        <br><br><br><br><img src="assets/sandra1.jpg" alt="" class="img-fluid" style="border-radius: 30px;">
        <br><br><br>
         <h3 style="color:#d291bc">Opleidingen</h3><br>
         <table  class="table borderless" style="background-color: lightyellow; border-radius: 15px;">
          <!--Table head-->
            <thead >
              <tr>
                <th width=120></th>
                <th></th>
          
              </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
              <tr>
                <td><b>2023</b></td>
                <td>Reiki 1 - Yindee</td>
              </tr>
              <tr>
                <td><b>2023</b></td>
                <td>Systemisch werken, Coachen & Holistische rouwbegeleiding - De Roestenburgh</td>
              </tr>
              <tr>
                <td><b>2023</b></td>
                <td>Lijfbewijs coachtraining - Lijfbewijs</td>
              </tr>
              <tr>
                <td><b>2022</b></td>
                <td>50 uur Zwangerschapsyoga docent - Yoga Docent Opleiding Yoga Point</td>
              </tr>
              <tr>
                <td><b>2022</b></td>
                <td>Pilates Basis - Yoga Docent Opleiding Yoga Point</td>
              </tr>
              <tr>
                <td><b>2021</b></td>
                <td>Touch For Health 1 - Touch For Health School Loes Buijs</td>
              </tr>
              <tr>
                <td><b>2021</b></td>
                <td>50 uur Yin Yoga Myofascial release & Myoyin - Pure Energy Yoga</td>
              </tr>
              <tr>
             
                <td><b>2021</b></td>
                <td>30 uur Flow & Nidra - Yes’ Yoga Sala & Yoga Academie</td>
              </tr>
              <tr>
             
                <td><b>2019 - 2020</b></td>
                <td>300 uur Advanced Hatha yoga teacher training - Yoga Docent Opleiding Yoga Point</td>
              </tr>
              <tr>
                
                <td><b>2019</b></td>
                <td>50 uur Yin Yoga teacher training Yin Yoga & Qi-gong - Pure Energy Yoga</td>
          
              </tr>
              <tr>
                <td><b>2017 - 2019</b></td>
                <td>200 uur Yin/Yang Yoga teacher training - AALO Yoga Academie</td>
          
              </tr>
              
             
              
              
            </tbody>
            <!--Table body-->
          </table>
     
    </div> </div><br><br>
  </div>
</section>