<section class="bg-prim text-black py-5">
  <div class="container"><br><br>
    <div class="d-flex row align-items-center">
      <div class="col-md-6 order-md-2 offset-md-1" >
        <h1 style="color:#d291bc">Over Sandra</h1><br>
        <div>
          <p style="color:black !important">Door mijn ervaring als docent Body Balance (combinatie Tai Chi, Yoga en Pilates) kwam ik in aanraking met yoga. Yoga maakte mij nieuwsgierig. Ik ben mezelf gaan verdiepen en in 2017 ben ik begonnen met de opleiding Power Yoga. Al snel daarna wilde ik nog meer weten en heb mijn opleiding aangevuld met Vinyasa Yoga en Yin Yoga. Mijn kennis blijf ik uitbreiden en deel dit graag met jullie. 
            <br> <br>
            Tegenwoordig verlangen we vaak te veel van onszelf en van anderen. Hier ben ikzelf in het verleden ook tegen aangelopen. Maar niet alles hoeft perfect te zijn. Leven in het hier en nu, wat je doet met yoga, helpt daar echt bij. Door yoga ben ik veel sterker (fysiek en mentaal) en soepeler geworden. Ook heb ik geleerd dingen los durven laten en meer vertrouwen te hebben in mezelf en anderen. <br>
Laat het zijn zoals het is op dat moment met alle gemakken, maar ook ongemakken.  Leer luisteren naar je lichaam en je gevoel. Ons lichaam geeft heel goed aan waar we juist behoefte aan hebben (beweging, rust, voeding etc) of juist waar we minder van nodig hebben (doorgaan, perfectionisme, stress).
            <br> <br>
            Ben je ook benieuwd wat yoga met jou doet? Doe dan een keer mee of neem contact met mij op via het contactformulier.</p>
          <p><br><a [routerLink]="['/contact']" class="btn btn-primary">Neem contact op!</a></p>
        </div>
        
      </div>
      <div class="col-md-5">
        <img src="assets/sandra.jpg" alt="" class="img-fluid">
        <br><br><br>
         <h3 style="color:#d291bc">Opleidingen</h3><br>
         <ul>
           <li><b>2017-2019</b><br>200 uurs Yin/Yang Yoga - AALO Yoga Acadamie</li>
           <li><b>2019</b><br>50 uurs Yin Yoga Teacher Training Yin & Qi-gong - Pure Energie Yoga</li>
           <li><b>2019-2020</b><br>300 uurs Hatha Yoga Verdieping - Yoga Docent Opleiding</li>
         </ul>
     
    </div> </div><br><br>
  </div>
</section>