<section class="bg-prim text-black py-5">
  <div class="container">
    <div class="d-flex row align-items-center">
      <div class="col-md-6 order-md-2 offset-md-1" >
        <h1>Over Sandra</h1>
        <div>
          <p style="color:black !important">Vanuit mijn ervaring als docent Body Balance (Body Balance is een combinatie van Tai Chi, Yoga en Pilates), merkte ik dat ook dat mijn lichaam hier baat bij had en werd ik bewuster van mijn lichaam. Hierdoor ben ik enthousiast geraakt voor yoga en ben ik mijzelf gaan verdiepen. In 2017 ben ik, naast mijn kantoorbaan, begonnen met de opleiding Power Yoga, aangevuld met Vinyasa Yoga en Yin Yoga.
            <br> <br>
            Door yoga ben ik veel sterker (fysiek en mentaal) en soepeler geworden. Ook heb ik geleerd dingen los te durven laten en meer vertrouwen te hebben in mezelf en anderen. Niet alles hoeft perfect te zijn, laat het zijn zoals het op dat moment is met alle gemakken, maar ook ongemakken. Leven in het hier en nu en genieten van alles wat zich aandient. Luisteren naar je gevoel. Ons lichaam geeft heel goed aan waar we juist behoefte aan hebben (beweging, rust, voeding etc) of juist waar we minder van nodig hebben (doorgaan, perfectionisme, stress). Yoga heeft mijn ogen geopend en mij veel dichter bij mijzelf gebracht.
            <br> <br><br>
            Yoga deel ik graag. Het zorgt voor meer flexibiliteit en mobiliteit van het lichaam. Het verstevigt de spieren en verbetert lichaamshouding en bloedcirculatie. Het geeft rust en brengt het lichaam en geest meer in balans.  </p>
          <p><a [routerLink]="['/contact']" class="btn btn-primary">Neem contact op!</a></p>
        </div>
        
      </div>
      <div class="col-md-5">
        <img src="assets/sandra.jpg" alt="" class="img-fluid">
        <br><br><br>
         <h3>Opleidingen</h3>
         <ul>
           <li><b>2017/2018</b> Power Yoga AALO Yoga Acadamie</li>
           <li><b>2018</b> Vinyasa Yoga AALO Yoga Acadamie</li>
           <li><b>2018</b> Yin 1 (fysieke lichaam) AALO Yoga Acadamie</li>
           <li><b>2018</b> Yin 2 (subtiele lichaam) AALO Yoga Acadamie</li>
           <li><b>2019</b>200 uurs Yin/Yang Yoga Alliance AALO Yoga Acadamie</li>
         </ul>
      </div>
    </div>
  </div>
</section>