

<!-- Slider -->
<section class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img src="assets/images/slider5.png" alt="fullstackit" class="slide-image">
        <div class="slide-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>Sama Yoga</h3>
                <h1>Totaaloplossingen met yoga</h1>
                <p>Slogan blabla</p>
                <div>
                  <button type="button" class="btn btn-primary">Meer..</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
</section>
<!-- End Slider --> 




<!-- End Make_Appointment --> 

<!-- Our_Doctors -->
<!-- <section class="trainers p-b-60 our_doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="title">Our Specialized Doctors</h2>
        <h6 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc1.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc2.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc3.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End Our_Doctors -->


<div class="blog-home1">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center"> 
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h2 class="title">Wat kan ik voor u betekenen?</h2>
        <h6 class="subtitle">SaMaYoga biedt verschillende diensten aan:</h6>
      </div>
      <!-- Column --> 
      <!-- Column --> 
    </div>
    <div class="row m-t-35"> 
      <!-- Column -->
      <div class="col-md-4">
        <div class="box"><div class="news_img"> <a href="#"><img src="assets/images/news1.png" alt="fullstackit"></a></div>
          <div class="p-t-20"> <a href="#">Yogalessen</a>
            <h3>Oct 26, 16 by admin</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <button type="button" class="btn btn-primary">Reading</button>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4">
        <div class="box"> <div class="news_img"><a href="#"><img src="assets/images/news2.png" alt="fullstackit"></a></div>
          <div class="p-t-20"> <a href="#">Privé lessen</a>
            <h3>Oct 26, 16 by admin</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <button type="button" class="btn btn-primary">Reading</button>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4">
        <div class="box"><div class="news_img"> <a href="#"><img src="assets/images/news3.png" alt="fullstackit"></a></div>
          <div class="p-t-20"> <a href="#">Bedrijfsyoga</a>
            <h3>Oct 26, 16 by admin</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <button type="button" class="btn btn-primary">Reading</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- End Testimonials --> 





