<div class="text-center">
  <!-- Slider -->
  <section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active"> <img src="assets/images/slider5.png" alt="fullstackit" class="slide-image">
          <div class="slide-text">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3></h3>
                  <h1>Yoga met Sandra</h1>
                  <p>Hatha - Power / Vinyasa - Yin</p>
                  <!-- <div>
                  <button type="button" class="btn btn-primary">Meer..</button>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Slider -->
</div>



<!-- End Make_Appointment -->

<!-- Our_Doctors -->
<!-- <section class="trainers p-b-60 our_doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="title">Our Specialized Doctors</h2>
        <h6 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc1.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc2.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc3.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End Our_Doctors -->


<div class="blog-home1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h2 class="title">Wat kan Sandra Maas Yoga voor jou betekenen?</h2>
        <h6 class="subtitle"></h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row m-t-35">
      <!-- Column -->
      <div class="col-md-3">
        <div class="box" (click)="scrollTo()">
          <div class="news_img"><img style="cursor:pointer" src="assets/woensdag.jpg" alt="fullstackit"></div>
          <button type="button" class="btn btn-primary">Meer informatie..</button>
          <div class="p-t-20"> <a>Yoga op woensdag</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Rust en Ontspanning met Yoga op Woensdagavond
            </p>
          </div>
        </div>
      </div>

      <!-- Column -->
      <div class="col-md-3">
        <div class="box" [routerLink]="['/yogalessen']">
          <div class="news_img"><img style="cursor:pointer" src="assets/privatelesson.jpg" alt="fullstackit"></div>
          <button type="button" class="btn btn-primary">Meer informatie..</button>
          <div class="p-t-20"> <a>Privé yoga</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Yoga speciaal afgestemd op wat jij op dat moment wil of nodig hebt. Een privéles kan bij jou thuis, voor
              jou alleen of in een klein gezelschap.</p>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-3">
        <div class="box" [routerLink]="['/bedrijfsyoga']">
          <div class="news_img"> <img style="cursor:pointer" src="assets/companyyoga.jpg" alt="fullstackit"></div>
          <button type="button" class="btn btn-primary">Meer informatie..</button>
          <div class="p-t-20"> <a>Bedrijfsyoga</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Naast goede gezondheid verbetert het ook de productiviteit!</p>

          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-3">
        <div class="box" (click)="toRoosterr()">
          <div class="news_img"><img style="cursor:pointer" src="assets/groepsyoga.jpg" alt="fullstackit"></div>
          <button type="button" class="btn btn-primary">Meer informatie..</button>
          <div class="p-t-20"> <a>Workshop / Groepsles Yoga</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Wil je een Yoga workshop? Of ben je als yogastudio of sportschool op zoek naar een (inval) yogadocent?
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="bg-prim2 text-white py-5">
  <div class="container"><br><br>
    <div id="woensdag" class="row">
      <div class="col-md-4">
       <!--  <p style="color:black; font-size: larger;"><br><b>NIEUW (vanaf 1-1-2021)</b>
        </p>
        <h4 style="color:white">Rust en Ontspanning met Yoga op Woensdagavond
        </h4> -->
        <h4 style="color:white"><span style="color:black">Helaas,</span><br>vanwege de lockdown en coronamaatregelen, nog even geen live lessen.
        </h4>
        
        <br><br>
        <p style="color:white !important">Elke woensdagavond in Vlijmen Yin Yoga met een vleugje Yang. Met name gericht
          op ontspanning, stress loslaten en ruimte creëren in jouw lichaam en het hoofd leegmaken.
        </p>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-striped" style='background-color:white;color: rgb(21, 9, 75)'>
            <tbody>
              <tr>
                <td style="padding:20px"><br><b>Locatie:</b> </td>
                <td><br>Deken van Baarstraat 21, 5251 RH in Vlijmen<br>(Fysio Annette de Gooijer)<br>
                  Zaal boven (trap omhoog bij binnenkomst)<br>
                </td>
                <td></td>
              </tr>
              <tr>

                <td style="padding:20px"><br><b>Tijd:</b><br></td>
                <td><br>18.45-20.00 uur Yang met een vleugje Yin <br>20.15-21.30 uur Yin met een vleugje Yang<br></td>
                <td><br><br></td>
              </tr>
              <tr>
                <th class="tg-baqh"><br><br></th>
                
                <td class="tg-baqh"><br><b>Losse les:</b>&nbsp;&nbsp;€  12,50<br>
                  <b>10 Lessen kaart:</b>&nbsp;&nbsp;€ 100,00 ( 4 maanden geldig)<br><b><br>Proefles:</b>&nbsp;&nbsp;Gratis<br><br>
                
                </td>
                <th class="tg-baqh"><br><br></th>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <p style="color:white">Aanmelden of informatie: mail <A style="color:#09fff5"
            HREF="mailto:info@yogametsandra.nl">info@yogametsandra.nl</A> of <a style="color:#09fff5"
            [routerLink]="['/contact']">neem contact op</a>.</p>
      </div>
    </div>



  </div>
</section>










<!-- <section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row">
    <div class="col-md-4 text-center">
          <h4 style="color:white">Rooster</h4><span>Elke week:
        </div>
      <div class="col-md-8 text-center">
          <div class="table-responsive">
          <table class="table table-striped" style='background-color:white;color: rgb(21, 9, 75)'>
              <thead>
                <tr>
                  
                  <th scope="col">Dag</th>
                  <th scope="col">Tijdstip</th>
                  <th scope="col">Locatie</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 
                  <td>Maandagochtend</td>
                  <td>10.15 - 11.15 uur</td>
                  <td>Total Fit Vlijmen<br><a href="https://www.totalfitvlijmen.nl" target="_blanc">https://www.totalfitvlijmen.nl</a></td>
                </tr>
                <tr>
                   
                  <td>Maandagavond</td>
                  <td>19.45 - 20.45 uur</td>
                  <td>Anytime Fitness Vlijmen<br><a href="https://www.anytimefitness.nl" target="_blanc">https://www.anytimefitness.nl</a></td>
                </tr>
                <tr>
                  
                  <td>Vrijdagochtend</td>
                  <td>9.30 - 10.30 uur</td>
                  <td>Anytime Fitness Vlijmen<br><a href="https://www.anytimefitness.nl" target="_blanc">https://www.anytimefitness.nl</a></td>
                </tr>
              </tbody>
            </table></div>
        </div></div>

        
     
  </div>
</section>
 -->
