

<!-- Slider -->
<section class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img src="assets/images/slider5.png" alt="fullstackit" class="slide-image">
        <div class="slide-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>Yoga</h3>
                <h1>met Sandra</h1>
                <p></p>
                <!-- <div>
                  <button type="button" class="btn btn-primary">Meer..</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
</section>
<!-- End Slider --> 




<!-- End Make_Appointment --> 

<!-- Our_Doctors -->
<!-- <section class="trainers p-b-60 our_doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2 class="title">Our Specialized Doctors</h2>
        <h6 class="subtitle">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc1.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc2.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dt-sc-team hide-details-show-on-hover m-t-30">
          <div class="dt-sc-team-thumb"><img src="assets/images/doc3.png" alt="fullstackit"></div>
          <div class="dt-sc-team-details">
            <h4>Isabel Sanders</h4>
            <h5>Gym Fitness Trainer</h5>
            <ul class="dt-sc-team-social rounded-border">
              <li><a class="fa fa-twitter" href="#" title="Twitter" aria-hidden="true"></a><span class="sr-only">Twitter</span></li>
              <li><a class="fa fa-facebook" href="#" title="Facebook" aria-hidden="true"></a><span class="sr-only">Facebook</span></li>
              <li><a class="fa fa-google-plus" href="#" title="Google" aria-hidden="true"></a><span class="sr-only">Google</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End Our_Doctors -->


<div class="blog-home1">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center"> 
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h2 class="title">Wat kan Sandra Maas Yoga voor jou betekenen?</h2>
        <h6 class="subtitle"></h6>
      </div>
      <!-- Column --> 
      <!-- Column --> 
    </div>
    <div class="row m-t-35"> 
      <!-- Column -->
      <div class="col-md-4" >
        <div class="box" [routerLink]="['/yogalessen']"><div class="news_img"><img style="cursor:pointer" src="assets/groepsyoga.jpg" alt="fullstackit"></div>
          <div class="p-t-20"> <a>Yogalessen</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Ik verzorg yogalessen voor groepen, klik voor meer informatie</p>
            <button type="button"  class="btn btn-primary">Meer info</button>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4">
        <div class="box" [routerLink]="['/yogalessen']"> <div class="news_img"><img style="cursor:pointer" src="assets/privatelesson.jpg" alt="fullstackit"></div>
          <div class="p-t-20"> <a>Privé lessen</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Yoga, voor u op maat gemaakt. Klik voor meer informatie</p>            <button type="button"  class="btn btn-primary">Meer info</button>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4">
        <div class="box" [routerLink]="['/bedrijfsyoga']"><div class="news_img"> <img style="cursor:pointer" src="assets/companyyoga.jpg" alt="fullstackit"></div>
          <div class="p-t-20"> <a>Bedrijfsyoga</a>
            <!-- <h3>Oct 26, 16 by admin</h3> -->
            <p>Naast goede gezondheid verbetert het ook de productiviteit! Klik voor meer informatie</p>
            <button type="button"  class="btn btn-primary">Meer info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-prim2 text-white py-5">
    <div class="container">
      <div class="row">
      <div class="col-md-4 text-center">
            <h4>Rooster</h4><span>Elke week:</span>
          </div>
        <div class="col-md-8 text-center">
            <table class="table table-striped" style='background-color:white;color: rgb(21, 9, 75)'>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dag</th>
                    <th scope="col">Tijdstip</th>
                    <th scope="col">Locatie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Maandagochtend </td>
                    <td>10.15-11.15 uur</td>
                    <td>Total fit vlijmen<br><a href="https://www.totalfitvlijmen.nl" target="_blanc">https://www.totalfitvlijmen.nl</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Vrijdagochtend</td>
                    <td>9.30-10.10 uur</td>
                    <td>Dutch Gym<br><a href="http://dutchgym.nl" target="_blanc">http://dutchgym.nl</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Zaterdagochtend</td>
                    <td>9.00-10.00 uur</td>
                    <td>Yoga in beweging<br><a href="https://yoga-in-beweging.nl" target="_blanc">https://yoga-in-beweging.nl</a></td>
                  </tr>
                </tbody>
              </table>
          </div></div>

          
       
    </div>
  </section>




