
<!-- Contact -->


  <section id="Appointment1" class="make_Appointment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-7 offset-md-5 feature_box">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-left">
              <h2 class="title">Een afspraak maken? Of een vraag?<br>Neem contact op!</h2>
              <h6 class="subtitle"></h6><br><br>
            </div>
          </div>
          <div class="row">
            <div class="wpb_column vc_column_container">
              <div class="wpb_wrapper">
                <div class="wpcf7" id="wpcf7-f112-p584-o1" lang="en-US" dir="ltr">
                  <div class="screen-reader-response"></div>
                  <form name="appointment" action="appointment" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6"> <span class="wpcf7-form-control-wrap FName">
                          <input type="text" [(ngModel)]="currentName" [ngModelOptions]="{standalone: true}" name="FName" value="" class="wpcf7-form-control" aria-required="true" aria-invalid="false" placeholder="Naam">
                          </span> </div>
                        <div class="col-md-6"> <span class="wpcf7-form-control-wrap email">
                          <input type="email" [(ngModel)]="currentEmail" [ngModelOptions]="{standalone: true}" name="email" value="" class="wpcf7-form-control" aria-invalid="false" placeholder="Email">
                          </span> </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6"> <span class="wpcf7-form-control-wrap Phone">
                          <input type="tel" [(ngModel)]="currentSubject" [ngModelOptions]="{standalone: true}" name="Phone" value="" class="wpcf7-form-control" aria-invalid="false" placeholder="Tel nummer (optioneel)">
                          </span> </div>
                    
                      </div>
                      <div class="row">
                        <div class="col-md-12"> <span class="wpcf7-form-control-wrap Message">
                          <textarea name="Message" [(ngModel)]="currentMessage" [ngModelOptions]="{standalone: true}" cols="40" rows="3" class="wpcf7-form-control wpcf7-textarea medicom-forms" aria-invalid="false" placeholder="Bericht"></textarea>
                          </span> </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <input type="submit" (click)="sendMail()" value="Verzend" class="wpcf7-form-control wpcf7-submit buton b_asset" style="border-radius: 10px !important">
                        </div>
                      </div>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


