

<div id="formm"></div>
<br><br><br><br><br><br>

      <COL style="margin-left: 100px" WIDTH=100>
        <COL style="margin-left: 100px" WIDTH=100>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>1</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Eigen
            risico en aansprakelijkheid</B></FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>1.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Lessen
            bij Sandra Maas Yoga zijn op eigen risico en Sandra Maas Yoga is
            niet verantwoordelijk en/of aansprakelijk voor enige geleden
            lichamelijke dan wel materi&euml;le schade/letsel voor, tijdens of
            na de les.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>1.2</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Bij
            (twijfel over) fysieke condities, raden we je aan deskundig advies
            in te winnen van een arts of specialist om te bepalen wat voor jou
            de juiste en haalbare manier van bewegen is.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>1.3</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Deelnemers
            moeten Sandra Maas Yoga op de hoogte stellen van alle
            omstandigheden die van invloed zijn op hun gezondheid en die
            kunnen worden verergerd door deelname.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>2</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Betaling
            en geldigheid strippenkaart</B></FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>2.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>De
            deelnemer dient vooraf te betalen. Als je nog geen les of
            strippenkaart hebt betaald, kun je niet deelnemen aan de les(sen).</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>2.2</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Strippenkaarten
            voor de yogalessen hebben een bepaalde geldigheidsduur. Als de
            geldigheidsduur verstreken is komen de niet genoten lessen van de
            strippenkaart te vervallen. Restitutie is niet mogelijk en de
            strippenkaart is niet overdraagbaar.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>2.3</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Een
            les kun je uiterlijk tot 2 uur van tevoren annuleren. Annuleer je
            binnen 2 uur voor de les, dan wordt deze les van je strippenkaart
            afgeschreven.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>2.4</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Details
            van strippenkaartprijzen zijn beschikbaar op </FONT></FONT></FONT><A HREF="http://www.yogametsandra.nl/"><FONT FACE="Arial, serif"><FONT SIZE=2>www.yogametsandra.nl</FONT></FONT></A><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>
            </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>en
            zullen van tijd tot tijd worden bepaald.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>3</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Huisregels
            </B></FONT></FONT></FONT>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>3.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Deelnemers
            kunnen vanaf 10 minuten voor aanvang van de les (niet eerder) en
            tot aanvang van de les (niet later) arriveren in de zaal.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>3.2</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>De
            deelnemer draagt zorg voor zijn/haar hygi&euml;ne en gedraagt zich
            altijd</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>
            respectvol naar de docent en mededeelnemers en gaat respectvol om
            met de materialen en ruimte waar de les gegeven wordt.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>3.3</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Deelnemers
            worden verzocht kleding te dragen die geschikt is voor het
            beoefenen van Yoga. Bij het betreden van de ruimte dient het
            schoeisel te worden verwijderd.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>4</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Wijziging,
            Lesrooster en Prijzen </B></FONT></FONT></FONT>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>4.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Sandra
            Maas Yoga behoudt zich de vrijheid en recht voor de Algemene
            Voorwaarden, de lesprijzen en de lestijden, locatie en data te
            allen tijde te wijzigen. </FONT></FONT></FONT>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>4.2</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Sandra
            Maas Yoga behoudt zich het recht voor lessen te annuleren,
            bijvoorbeeld wegens overmacht van hogerhand, te weinig deelnemers
            of vakantie.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>4.3</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Deze
            voorwaarden zijn gedeponeerd bij de Kamer van Koophandel. Van
            toepassing is steeds de laatst gedeponeerde versie.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>4.4</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Wijzigingen
            zullen op </FONT></FONT></FONT><A HREF="http://www.yogametsandra.nl/"><FONT FACE="Arial, serif"><FONT SIZE=2>www.yogametsandra.nl</FONT></FONT></A><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>
            worden gepubliceerd en zijn, totdat ze worden ingetrokken, bindend
            voor deelnemers.</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>5</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Persoonsgegevens</B></FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>5.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Sandra
            Maas Yoga gaat vertrouwelijk om met persoonsgegevens en overige
            informatie welke worden ontvangen van deelnemers in het kader van
            het volgen van lessen. Sandra Maas Yoga </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>verwerkt
            persoonsgegevens alleen voor het doel waarvoor ze zijn verstrekt
            en in overeenstemming met de Algemene Verordening Gegevens
            Bescherming (AVG)</FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><BR>
            </P>
          </TD>
          <TD WIDTH=550>
            <P><BR>
            </P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>6</B></FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2><B>Toepasselijk
            recht en geschillen</B></FONT></FONT></FONT></P>
          </TD>
        </TR>
        <TR VALIGN=TOP>
          <TD WIDTH=27>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>6.1</FONT></FONT></FONT></P>
          </TD>
          <TD WIDTH=550>
            <P><FONT COLOR="#000000"><FONT FACE="Arial, serif"><FONT SIZE=2>Op
            deze algemene voorwaarden is uitsluitend het Nederlands recht van
            toepassing.</FONT></FONT></FONT></P>
          </TD>
        </TR>
     
  
  
  
  