<section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 style="color:white" class="mt-5">Yoga</h1>
        <!-- <p style="color:white !important">Aandacht voor lichaam, ademhaling en meditatie</p> -->
      </div>
    </div>
  </div>
</section>




<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center"><br>
        <h2>Aanbod yogastylen</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga1)" style="cursor: pointer">
          <img class="card-img-top" src="assets/poweryoga.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hatha-Power/Vinyasa Yoga</h5>
            <p class="card-text">Hatha - Power/Vinyasa Yoga is een dynamische en actieve yogales, waarbij we afwisselend
              bewegen in ...</p><br>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga2)" style="cursor: pointer">
          <img class="card-img-top" src="assets/yin.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yoga</h5>
            <p class="card-text">Yin yoga is een rustige yogales, waarbij houdingen een langere tijd (2-5 minuten) worden
              aangehouden. Op ...</p><br>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga3)" style="cursor: pointer">
          <img class="card-img-top" src="assets/yinyang.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yang Yoga</h5>
            <p class="card-text">Tijdens een <b>Yin Yang</b> les combineren we <b>Hatha - Power/Vinyasa Yoga</b> met <b>Yin yoga</b>. De les bestaat
              uit spieropbouwende ...</p><br>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h3>Diverse voordelen zijn: </h3><br>
        <ul style="list-style-type: square;">
          <li style="padding-left: 10px;">het verbeteren van je lichaamshouding, spieropbouwflexibiliteit en conditie </li>
          <li style="padding-left: 10px;">het verminderen van rug-, nek-, en schouderklachten</li>
          <li style="padding-left: 10px;">het stimuleert je bloedsomloop en activeert je zenuwstelstel</li>
          <li style="padding-left: 10px;">het meer bewust worden van je lichaam, je leert je lijf kennen en voelen</li>
          <li style="padding-left: 10px;">het verminderen van stress en vermoeidheid</li>
          <li style="padding-left: 10px;">het helpt te ontspannen en los te laten</li>
          <li style="padding-left: 10px;">het brengt lichaam en geest in balans</li>
        </ul>

      </div>
      <div class="col-md-6">
        <img src="assets/yoga.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="bg-prim2 text-white py-5" id="roosterr" style="padding-top:100px">

</section>
<!-- <section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center">
        <h4 style="color:white">Rooster</h4><span>Elke week:</span>
      </div>
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table table-striped" style='background-color:white;color: rgb(21, 9, 75)'>
            <thead>
              <tr>

                <th scope="col">Dag</th>
                <th scope="col">Tijd</th>
                <th scope="col">Locatie</th>
              </tr>
            </thead>
            <tbody>
            
              <tr>
                <td><br>
                  <ul>
                    <li><b>Woensdag</b></li>
                    <li><br><button (click)="toWoensdag()" class="btn btn-primary">Meer info? Klik hier!</button></li>
                  </ul>
                </td>
                <td><br>
                  <ul>
                    <li>18.45-20.00 uur<br><br></li>
                    <li>20.15-21.30 uur<br><br></li>
                  </ul>
                </td>

                <td><br>
                  <ul>
                    <li>Yang met een vleugje Yin Yoga met Sandra<br><a _ngcontent-c3="" HREF="mailto:info@yogametsandra.nl">info@yogametsandra.nl </a></li>
                    <li>Yin met een vleugje Yang Yoga met Sandra<br><a _ngcontent-c3="" HREF="mailto:info@yogametsandra.nl">info@yogametsandra.nl </a></li>
                  </ul>
                </td>
              </tr>
             

            </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>
</section> -->




<section class="bg-prim3 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Meer weten?</h1>
        <p style="color:black !important">Voor meer informatie en mogelijkheden, neem contact met mij op via het
          contactformulier.</p>
        <div>
          <button type="button" [routerLink]="['/contact']" class="btn btn-info">Naar contact</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 
 

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<ng-template #yoga1>
  <div class="modal-body">
    <h4>Hatha - Power/Vinyasa Yoga</h4>
    <br>
    <img src="assets/poweryoga.jpg" alt="" class="img-fluid">
    <br><br><br>
    <p>
      <b>Hatha - Power/Vinyasa</b> is een dynamische en actieve yogales, waarbij we afwisselend bewegen in een flow en/of krachtige houdingen uitvoeren. Ook wordt er aandacht besteed aan ademhaling en meditatie.
      <br><br>
      Met deze actieve yoga ontwikkel je spierkracht en flexibiliteit en het bevordert de circulatie in je lichaam. Deze yoga is geschikt voor iedereen die zich lichamelijk wil ontwikkelen en ontdekken.

    </p><br>
    <button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button><br><br>
  </div>
</ng-template>



<ng-template #yoga2>
  <div class="modal-body">
    <h4>Yin Yoga</h4>
    <br>
    <img src="assets/yin.jpg" alt="" class="img-fluid">
    <br><br><br>
    <p><b>Yin yoga</b> is een rustige yogales, waarbij houdingen een langere tijd (2-5 minuten) worden aangehouden. Op deze manier
      stimuleren we de diepere lagen van het lichaam om meer flexibiliteit en mobiliteit te creëren.
      <br><br>
      Deze vorm van yoga helpt je ontspannen en los te laten en we maken het (bind)weefsel in ons lichaam soepeler.
      Ondanks de ontspanning tijdens de houdingen, kunnen de houdingen fysiek en ook mentaal uitdagend zijn. Yin yoga
      brengt rust in ons drukke leven en vertraagt het verouderingsproces. Het brengt ons naar de ‘zijn’ modus; naar het
      hier en nu. Ook wordt er aandacht besteed aan ademhaling en meditatie.</p>
      <br><button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button><br><br>
  </div>
</ng-template>



<ng-template #yoga3>
  <div class="modal-body">
    <h4>Yin Yang Yoga</h4>
    <br>
    <img src="assets/yinyang.jpg" alt="" class="img-fluid">
    <br><br><br>
    <p>Tijdens een <b>Yin Yang</b> les combineren we <b>Hatha - Power/Vinyasa Yoga</b> met <b>Yin yoga</b>. De les bestaat uit spieropbouwende, krachtige houdingen en ontspannende houdingen, waarbij we de spierspanning loslaten. Een mooie manier om lichaam en geest in balans te brengen.<br><br> Ook wordt er aandacht besteed aan ademhaling en meditatie.</p>
    <br><button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button><br><br>
  </div>
</ng-template>
