

<section class="bg-primary text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Yogalessen</h1>
        <p style="color:white !important">Dat yoga goed voor ons is weten velen al wel. </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
    <div class="container">
       <div class="row align-items-center">
         <div class="col-md-6">
           <h2>Diverse voordelen zijn: </h2>
             <ul>
               <li>het verbeteren van je lichaamshouding, spieropbouw,  flexibiliteit en conditie </li>
                <li>het verminderen van rug-, nek-, en schouderklachten</li>
              <li>het stimuleert je bloedsomloop en activeert je zenuwstelstel</li>
              <li>het meer bewust worden van je lichaam, je leert je lijf kennen en voelen</li>
              <li>het verminderen van stress en vermoeidheid</li>
              <li>het helpt te ontspannen en los te laten</li>
              <li>het brengt lichaam en geest in balans</li>
             </ul>
 
         </div>
         <div class="col-md-6">
         <img src="https://via.placeholder.com/1200x1000" alt="" class="img-fluid">
       </div>
       </div>
     </div>
   </section>
   

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Cards</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/600x400" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Power Yoga / Vinyasa Yoga</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-center"><a href="#" class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/600x400" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yoga</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-center"><a href="#" class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/600x400" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yang Yoga</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-center"><a href="#" class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
    <div class="container">
       <div class="row ">
         <div class="col-md-6">
           <p>Respect, aandacht en vertrouwen vind ik erg belangrijk en dit mag je bij mij in de les verwachten. Je mag zijn wie je bent en je bent goed zoals je bent. Ook neem ik je tijdens de yogales graag mee naar wat yoga nog meer te bieden heeft. Yoga is namelijk veel meer dan alleen de houdingen beoefenen. Bijvoorbeeld hoe ga je om met jezelf en hoe ga je om anderen. Jouw ademhaling. Concentratie en meditatie. Dit met een nuchtere kijk.</p>
         </div>
         <div class="col-md-6">
         <p>Yogahoudingen doen we op een yogamat op blote voeten. Het is handig om gemakkelijke (sport)kleding aan te trekken, zodat je vrij kunt bewegen. Neem ook warmere kleding (vest, sokken) mee voor de start van de les en de eindontspanning (Savasana), zodat je het niet koud hoeft te krijgen.</p>
       </div>
       </div>
     </div>
   </section>


<!-- 
 

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
    </div>
  </div>
</section> -->
