




<section class="bg-prim2 text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">Yogalessen</h1>
        <p style="color:white !important">Open je mind en voel dat je mag groeien</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
    <div class="container">
       <div class="row align-items-center">
         <div class="col-md-6">
           <h3>Diverse voordelen zijn: </h3>
             <ul>
               <li>het verbeteren van je lichaamshouding, spieropbouw,  flexibiliteit en conditie </li>
                <li>het verminderen van rug-, nek-, en schouderklachten</li>
              <li>het stimuleert je bloedsomloop en activeert je zenuwstelstel</li>
              <li>het meer bewust worden van je lichaam, je leert je lijf kennen en voelen</li>
              <li>het verminderen van stress en vermoeidheid</li>
              <li>het helpt te ontspannen en los te laten</li>
              <li>het brengt lichaam en geest in balans</li>
             </ul>
 
         </div>
         <div class="col-md-6">
         <img src="assets/yoga.jpg" alt="" class="img-fluid">
       </div>
       </div>
     </div>
   </section>
   

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Soorten yoga waarin ik lesgeef</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga1)" style="cursor: pointer">
          <img class="card-img-top" src="assets/poweryoga.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Power Yoga / Vinyasa Yoga</h5>
            <p class="card-text">Power Yoga is een dynamische yogales met houdingen vanuit Ashtanga. Hierbij wordt gevarieerd...</p>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga2)"  style="cursor: pointer">
          <img class="card-img-top" src="assets/yin.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yoga</h5>
            <p class="card-text">Yin yoga een rustige yogales, waarbij houdingen een langere tijd (aantal minuten) worden ...</p>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="openModal(yoga3)"  style="cursor: pointer">
          <img class="card-img-top" src="assets/yinyang.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yin Yang Yoga</h5>
            <p class="card-text">Tijdens een Yin Yang les combineren we Power/Vinyasa Yoga met Yin yoga. De les bestaat uit ...</p>
            <p class="text-center"><a style='color:white' class="btn btn-primary">Lees meer</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="py-5">
    <div class="container">
       <div class="row ">
         <div class="col-md-6">
           <p>Respect, aandacht en vertrouwen vind ik erg belangrijk en dit mag je bij mij in de les verwachten. Je mag zijn wie je bent en je bent goed zoals je bent. Ook neem ik je tijdens de yogales graag mee naar wat yoga nog meer te bieden heeft. Dit met een nuchtere kijk. Yoga is namelijk veel meer dan alleen de houdingen beoefenen. Bijvoorbeeld hoe ga je om met jezelf en hoe ga je om anderen, jouw ademhaling, concentratie en meditatie.
             <br><br>
            Tijdens de yogales beoefen je houdingen op een yogamat. Het is handig om gemakkelijke (sport)kleding aan te trekken, zodat je vrij kunt bewegen en de schoenen mogen uit. Neem ook warmere kleding (vest, sokken) mee voor de start van de les en de eindontspanning (Savasana), zodat je het niet koud hoeft te krijgen.</p>
          </div>
         <div class="col-md-6">
          <img src="assets/thumbs.jpg" alt="" class="img-fluid">
        </div>
       </div>
     </div>
   </section>

   <section class="bg-prim3 text-white py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h1 class="mt-5" >Meer weten?</h1>
          <p style="color:black !important">Voor meer informatie en mogelijkheden, neem contact met mij op via het contactformulier.</p>
          <div>
                  <button type="button" [routerLink]="['/contact']" class="btn btn-info">Naar contact</button>
                </div>
        </div>
      </div>
    </div>
  </section>


<!-- 
 

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
            <p><img src="https://via.placeholder.com/100x100" alt="" class="img-icon"></p>
            <h5>Feature</h5>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><a href="#">Lean More&hellip;</a></p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<ng-template #yoga1>
  <div class="modal-body">
    <h4>Power Yoga / Vinyasa Yoga</h4>
    <br>
    <img src="assets/poweryoga.jpg" alt="" class="img-fluid">
    <br>
  <p>
    Power Yoga is een dynamische yogales met houdingen vanuit Ashtanga. Hierbij wordt gevarieerd in een wisselende serie van krachtige houdingen op het ritme van de ademhaling. De lessen worden opgebouwd uit het aarden, zonnegroeten, staande, zittende en liggende houdingen en een welverdiende eindontspanning (Savasana).
    <br><br>
Vinyasa yoga is een dynamische en actieve yogales, waarbij we bewegen op het ritme van de ademhaling. In deze yogales worden vloeiende verbindingen tussen verschillende houdingen uitgevoerd. De les bevat een mooie flow. De lessen worden opgebouwd uit het aarden, staande, zittende en liggende houdingen en een welverdiende eindontspanning (Savasana).
<br><br>
Met Power en Vinyasa yoga ontwikkel je spierkracht en flexibiliteit en het bevordert de circulatie in je lichaam. Deze vormen van yoga zijn geschikt voor iedereen die zich lichamelijk willen ontwikkelen, maar ook bezig willen zijn met diverse ademhalingstechnieken, zoals bijvoorbeeld Ujjay bekend als de oceaanademhaling.
  </p>
    <button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button>
  </div>
</ng-template>



<ng-template #yoga2>
  <div class="modal-body">
    <h4>Yin Yoga</h4>
    <br>
    <img src="assets/yin.jpg" alt="" class="img-fluid">
    <br>
    <p>Yin yoga een rustige yogales, waarbij houdingen een langere tijd (aantal minuten) worden aangehouden. Op deze manier stimuleren we de diepere lagen van het lichaam om meer flexibiliteit en mobiliteit te creëren.<br><br> Deze vorm van yoga helpt je ontspannen en los te laten en we maken het (bind)weefsel in ons lichaam soepeler. Ondanks de ontspanning tijdens de houdingen, kunnen de houdingen fysiek en ook mentaal uitdagend zijn. Yin yoga brengt rust in ons drukke leven en vertraagt het verouderingsproces. Het brengt ons naar de ‘zijn’ modus, naar het hier en nu. De lessen worden opgebouwd uit het aarden, zittende en liggende houdingen en een welverdiende eindontspanning (Savasana).</p>
    <button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button>
  </div>
</ng-template>



<ng-template #yoga3>
  <div class="modal-body">
    <h4>Yin Yang Yoga</h4>
    <br>
    <img src="assets/yinyang.jpg" alt="" class="img-fluid">
    <br>
    <p>Tijdens een Yin Yang les combineren we Power/Vinyasa Yoga met Yin yoga. De les bestaat uit spieropbouwende, krachtige houdingen die we een aantal ademhalingen vasthouden en ontspannende houdingen, waarbij we de spierenspanning loslaten voor een aantal minuten. Een mooie manier om lichaam en geest in balans te houden.<br><br> De lessen worden opgebouwd uit het aarden, staande, zittende en liggende houdingen en een welverdiende eindontspanning (Savasana).</p>
    <button type="button" class="btn btn-primary" (click)="closeModalNow()">Terug</button>
  </div>
</ng-template>


