<div class="container">
<h2>Agenda</h2>
<br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <img src="assets/agenda.png" style="border-radius: 15px;max-height: 100px;" class="img-fluid"><br>
          <b>9 december 2023 - Yoga en Stilte dag</b><br>
          <i>'In verbinding met jezelf'</i> 
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <i>“Een naar buiten gerichte geest blijft altijd hunkeren. Een naar binnen gerichte geest vindt rust en stilte.”-Deng Ming-Dao </i> <br><br>
        Deze dag staat in een teken van stilte, om zo meer met jezelf in verbinding te komen. Geen afleiding van buiten. Een dag voor jou!<br><br>
        <b></b>Programma (globaal):<br>
        <b>10.00u - 10.30u</b> Welkom<br>
        <b>10.30u - 12.00u</b> Yoga (licht actief met een flow)<br>
        <b>12.00u - 12.30u</b> Lunch (in stilte)<br>
        <b>12.30u - 13.30u</b> Wandeling (in stilte)<br>
        <b>13.30u - 14.40u</b> Creatief Zijn (in stilte)<br>
        <b>14.30u - 16.00u</b> Yoga (Yin Yoga en Yoga Nidra)<br>
        <b>16.00u - 16.30u</b> Afsluiting <br><br>
        <img src="assets/img.png" alt="" class="img-fluid"><br><br>
        Deze dag laten we alles wat er buiten ons is, buiten ons en richten ons naar binnen. We gaan een groot gedeelte van de dag de stilte in. Ik neem jullie mee en laat jullie rustig landen in het moment waarop we stil gaan zijn. We creëren eerst een veilige modus. Dit doen we door o.a. een oefening voor onze nervus vagus (belangrijkste parasympatische zenuw van ons autonome zenuwstelsel), zodat we hierbij meer kunnen ontspannen.
        <br><br>
        In de ochtend is er een yogales die wat actiever (bewegelijker) is. Voor iedereen toegankelijk. Door beweging en wat actie kunnen we meer in verbinding komen met ons lichaam. Wat meer uit het hoofd en in het lijf. Om zo meer te gaan voelen in plaats van denken.
        <br><br>
        Tijdens het lunchbuffet blijven we in stilte. Heel bewust eten. Vaak zijn we tijdens onze maaltijden ook met andere dingen bezig dan alleen het eten. Zoals bijvoorbeeld het praten met je partner of kinderen, of we kijken televisie. Deze lunch mag je heel bewust beleven.
        <br><br>
        Na de lunch maken we een wandeling over het mooie buitenterrein. Ook in stilte. Eerst als groep en als er nog tijd over is, dan ben je vrij om zelf nog in stilte over het terrein te wandelen of een bepaalde plek op te zoeken.
        <br><br>
        Als er tijd en ruimte over blijft, dan gaan we ook nog creatief aan de gang. Wat dit zal zijn, merk je op de dag zelf.
        <br><br>
        In de middag is er ook nog een yoga sessie gepland. Yin yoga met een yoga nidra. 
        Yin yoga is een rustige yogales, waarbij houdingen een langere tijd (2-5 minuten) worden aangehouden. Op deze manier stimuleren we de diepere lagen van het lichaam om meer flexibiliteit en mobiliteit te creëren. Deze vorm van yoga helpt je ontspannen en los te laten en we maken het (bind)weefsel in ons lichaam soepeler. Ondanks de ontspanning tijdens de houdingen, kunnen de houdingen fysiek en ook mentaal uitdagend zijn. Yin yoga brengt rust in ons drukke leven en vertraagt het verouderingsproces. Het brengt ons naar de ‘zijn’ modus; naar het hier en nu. 
        <br><br>
        Yoga nidra, wordt ook wel slaap yoga genoemd, maar is veel meer dan dat. Het is een geleide meditatie methode, waarbij systematische naar complete fysieke, mentale en emotionele ontspanning wordt toegewerkt. Voor een diep gevoel van rust en kalmte. Voor deze yoga nidra lig je ongeveer 30 minuten op je rug.
        Gezamenlijk sluiten we de dag af onder het genot van thee en wat lekkers. Als je iets wilt delen, mag het hier gedeeld worden.
        <br><br>
        Stilte en stil zijn kan ongemakkelijk zijn. Het kan gebeuren dat er gedachten, gevoelen of emoties komen. De uitnodiging is om deze er vooral te laten zijn. Ik zal je hierin begeleiden.  Je mag deze dag ook een dagboek of schriftje meenemen, zodat je daar door de dag heen in kunt schrijven wat er in je op komt en wat je voelt.<br>
        Deze dag is voor iedereen toegankelijk. Heb je geen of weinig yoga ervaring? Ook dan ben je van harte welkom. <br><br>
        Als je vragen hebt, bijvoorbeeld over het programma, neem gerust contact met mij op.<br>
        <b>Tijd:</b> 		10.00u - 16.30 uur (inloop vanaf 9.45u)<br>
        <b>Locatie:</b>		Abdij Mariënkroon Nieuwkuijk<br>
        <b>Kosten:</b>	€ 97,00 (inclusief lunch, koffie/thee/water)<br><br>
        maximaal 10 deelnemers
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
</div>